
<div *ngIf="data" class="col-md-3">
	<div class="panel panel-default">
		<div class="panel-heading">
		  <h3 class="panel-title"><b> Aircrafts List </b></h3>
		</div>
		<div class="panel-body">
			<div class="list-group">
				<div *ngFor="let d of data">
					<button routerLink="/flight/{{d.Icao}}" (click)="onClick()" class="list-group-item btn btn-default" >
						<div id="Icao"><h4>Flight: <b>{{d.Icao}} </b> </h4> </div>
						<div *ngIf="d.Alt"> <h5>Altitude: <b>{{d.Alt}} ft</b></h5> </div>
					</button>
				</div>
			</div>
		</div>
	  </div>
	</div>
